.img {
    width: 100%;
    max-width: 800px;
    border-radius: 30px;
    display: block;
    margin: 20px auto;
    filter: grayscale(50%) blur(2px);
    transition: filter 0.3s ease-in-out;
}
a:hover .img {
    filter: none;
    transform: scale(1.05);
}

.quote {
    font-weight: bold;
    text-align: center;
    font-size: 1.5em;
    margin: 20px 0;
}